* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;

}

.user {
  position: relative;
  background-color: #dddddd;
}

.user p {
  text-align: right;
  padding: 3px 10px 3px 0;
}

.game-list {
  background-color: #adadad;
}

.game-list > ul li {
  display: list-item;
  background: #bebebe;
  padding: 5px 10px;
  color:white;
}

.game-list li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.game-list li:nth-child(odd) {
  background: #cdcdef
}


.create-game > button {
  margin: 10px auto;
  display: block;
  position: relative;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable:hover {
  cursor: pointer;
}
